* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 14px;

    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color
}

a,
*::before,
*::after,
span {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    width: fit-content;
    cursor: pointer;

    &.highlight {
        background-color: $primalry-color;
        border: none;
    }
}

img.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

input {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: $white;
    user-select: none;

    * {
        scrollbar-width: 3px;
        scrollbar-color: $white #5891ed;
    }

    *::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    *::-webkit-scrollbar-track {
        display: none;
        background: $white;
    }

    *::-webkit-scrollbar-thumb {
        display: none;
        width: 0;
        height: 0;
    }
}

a {
    text-decoration: none;
    color: $dark;

    &:focus {
        outline: none;
    }
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
}

ul {
    margin-bottom: 0 !important;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.tw-radio {
    input[type="radio"]+label span {
        transition: background 200ms,
            transform 200ms;
    }

    input[type="radio"]+label span:hover,
    input[type="radio"]+label:hover span {
        transform: scale(1.2);
    }

    input[type="radio"]:checked+label span {
        background-color: $primary-bg;
        box-shadow: 0px 0px 0px 2px $white inset;
    }

    input[type="radio"]:checked+label {
        color: $black;
    }

    span {
        width: 24px;
        height: 24px;
    }
}

.ReactModalPortal {
    .ReactModal {
        &__Overlay {
            z-index: 999;
            background-color: rgba($color: $black, $alpha: 0.25) !important;
        }

        &__Content {
            inset: 50% auto auto 50% !important;
            border-radius: 4px !important;
            outline: none;
            padding: 0 !important;
            margin-right: -50% !important;
            transform: translate(-50%, -50%) !important;
            width: 50%;

            @media (max-width: 767px) {
                display: flex !important;
                inset: 0 !important;
                transform: unset !important;
                min-width: 100%;
                overflow: hidden;
            }
        }
    }
}

.main-radio {

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $dark;
    }

    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $primary-bg;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.color-radio {
    input {
        display: none;
    }

    label {
        padding: 0.75rem 3rem;
        border-radius: 4px;
        box-shadow: 0px 0px 5px 0px rgba($color: $black, $alpha: 0.6);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.react-transform-wrapper .react-transform-component {
    cursor: all-scroll;
}

.btn {
    cursor: pointer;
    border-radius: $btn-radius;
    padding: 0.5rem 1rem;
    transition: all 250ms;

    &.btn-primary {
        background-color: $primary-bg;

        &:hover {
            background-color: $primary-bg-hover;
        }
    }

    &.btn-blue {
        color: $white;
        background-color: $blue;

        &:hover {
            background-color: $blue-hover;
        }
    }
}

/**
   * Override ant design
   */
.ant-btn:active {
    color: $dark !important;
    border-color: $dark !important;
}

.ant-btn:hover,
.ant-btn:focus {
    color: $dark !important;
    border-color: $dark !important;
}

.ant-btn.ant-btn-primary {
    background-color: $primary-bg !important;
    border-color: $primary-bg !important;
    color: $dark !important;
}